.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo

# Ignore go.work.sum to avoid merge conflicts, 
# but keep go.work so the workspace is defined.
go.work.sum
